.App {
  text-align: center;
  display: block;
  padding: 0%;
  margin: 0%;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #aaaaaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.Login-Button {
  marginLeft: 'auto'
}

.App-link {
  color: #09d3ac;
}

#ontology-Circle {
    stroke: #05668D;
    opacity: 1.0;
    stroke-width: 1px;
}

#ontology-Path {
    fill: none;
    stroke: #05668D;
    opacity: 1.0;
    stroke-width: 4px;
}

#tooltip{
  position: fixed;
  width: 500px;
  height: auto;
  padding: 10px;
  right: 40%;
  top: 6%;
  text-align: center;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  color: black;
}

#tooltipMatrix{
  position: fixed;
  width: 500px;
  height: auto;
  padding: 10px;
  right: 38%;
  top: 22%;
  text-align: center;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  color: black;
}

#assignmenttooltip {
  position: fixed;
  width: auto;
  height: auto;
  padding: 10px;
  left: 60%;
  top: 6%;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  color: black;
}


#tooltip.hidden, #assignmenttooltip.hidden, #tooltipMatrix.hidden {
  display: none;
}

#tooltip p, #assignmenttooltip p, #tooltipMatrix p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}

#RadialContainer{
  position: absolute;
  left: 0%;
  top: 5%;
  margin-left: 0;
  padding-left: 0px;
}

#RadialSettings{
  width: auto;
  position: center;
}

#FormControl{
  margin-bottom: 10px;
}

#inputselect{
  margin-top: 20px;
  margin-left: 10px;
}

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.content {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.7em;
}

.content-body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-serif);
}

.post-full-content {
    max-width: 720px;
    margin: 0 auto;
    background: #fff;
}

.post-feature-image img {
    margin: 0 0 3vw;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: var(--color-base);
    background-position: center;
    background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}












/* Wordpress styles */
/* Header Styles */
.navBar{
 filter: drop-shadow(0px 0px 5px #497eac);
}


.wp-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #15254c;
  /* gap: 5px; */
  /* margin: 0px auto; */
  /* margin-left: auto;
  margin-right: auto; */
 
}

.wp-header-container a{
  
}
.wp-navigation-container{
  display: flex;

  /* padding: 0px 15px; */
  margin-left: -15px;
  list-style: none;
  gap: 40px;

}
.wp-navigation-container li{
  display: flex;
  
}
.wp-navigation-container li a{
  color: white;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 1px;
}

.wp-nav-item{
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.wp-nav-arrow{
  margin-left: 6px;
}

.wp-logo-header{

  width: 80px;
  height: auto;
  display: block;
  margin-left: 22px;

}

/* Footer Styles */

/* Temporary solution just to see footer for now */
div.MuiDrawer-paper{
  position: unset;
}

.wp-footer-container{
  display: flex;
  flex-direction: column; 
  /* justify-content: space-between; */
  /* align-items:center; */
  width: 100%;
  background-color: #15254c;
  padding-top: 104px;
  
}

.wp-footer-container hr{
  border: none;
  border-top: 1px solid #ffffff;
  margin: 8px auto 8px auto;
  width: 100%;
  
  max-width: 1290px;

}

.wp-footer{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: flex-start;
  padding: 0px 32px;
  margin-bottom: 32px;
  /* width: 100%; */
}

.wp-footer-info-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 10px; */
  flex-basis: 50%;
  padding-bottom: 40px;
}

.wp-footer-info-container p{
  color: white;
  font-size: 18px;
  margin: 16px 32px 24px 0px ;
  text-align: start ;

  
  
}



.wp-footer-nav-container{
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  gap: 36px;
  width: 50%;
}

.wp-footer-nav-container .footer-nav-item{
  flex-basis: 25%;
}

.wp-footer-nav-container p{
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 24px 0px;
  text-align: left;
}

.wp-footer-nav-container ul{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  letter-spacing: 1px;
  gap: 16px;
  padding: 0px;
  /* text-align: left; */
  /* margin: 0px; */
}



.wp-logo-footer{
  width: 110px;
  height: auto;
  display: block;
}


















/* WP Header Styles */
/* Default: hide submenu */
.wp-block-navigation-submenu > .wp-block-navigation__submenu-container {
  display: none;
}

/* When open: show submenu */
.wp-block-navigation-submenu.is-open > .wp-block-navigation__submenu-container {
  display: block;
}

/* Closed state */
.wp-block-navigation__container.wp-block-navigation .has-child .wp-block-navigation__submenu-container.wp-block-navigation-submenu{
  max-height: 0px;
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
  transition: opacity 1.75s ease, transform 1.5s ease, max-height 1.5s ease ;
}

/* Open state */
.wp-block-navigation .has-child 
.wp-block-navigation-submenu__toggle[aria-expanded="true"]
~ ul.wp-block-navigation__submenu-container {
  max-height: 600px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/*Nav-menu Styles*/


.wp-block-navigation-item__label:hover{
 background: #ddedfb;
 color:black;
 border-radius: 8px;
}

/*Nav submenu*/
.wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]~.wp-block-navigation__submenu-container.has-primary-800-background-color{

 min-width: 250px;
 border-radius: 1.5rem;
 align-items: flex-start;
 text-align: left; /*Not in WP*/
}

/*Middle layer*/
.wp-block-navigation.wp-block-navigation__container .wp-block-navigation-item{
 background-color: transparent;
}

/*Inner layer*/
.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content{
 background-color: transparent;
}

/* WP Footer Styles */
.footer-info{
  text-align: left;
}
.footer-nav h5, ul{
  text-align: left;
}